EXPO_PUBLIC_SUPABASE_URL=https://lgrkckhpgjwxzllqxoot.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_3ZRWGK8u5rw6nF9gBYH3fA_ATZRpIsW
EXPO_PUBLIC_PAYMENT_API_URL=https://lgrkckhpgjwxzllqxoot.supabase.co/functions/v1
